<!doctype html>
<html>
    <head>
        <title>Flaskr</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
    </head>
    <body>
        <div class="pagina">
            <h1>Cachola, C. S.</h1>
            <img width="200px" src="https://www.peanuts.com/sites/default/files/cb-color.jpg">
            <div class="metanav">
            {% if not session.logado %}
                <a href="{{ url_for('login') }}">login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">logout</a>
            {% endif %}
            </div>
        {% for mensagem in get_flashed_messages() %}
            <div class="flash">{{ mensagem }}</div>
        {% endfor %}
        {% block corpo %}{% endblock %}
        </div>
    </body>
</html>